[Desktop Entry]
Type=Application
Name=Kumo
GenericName=Anime Library
Comment=Watch, stream and organise your anime
Exec=kumo %U
Icon=kumo-anime
Terminal=false
Categories=AudioVideo;Video;Player;
Keywords=anime;anilist;ani-cli;torrent;manga;
StartupWMClass=Kumo
StartupNotify=true
